<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ale Nomad: Beer/brewery of the Day</title>
  </head>
  <body>
    <h2>Ale NoMad's Beer & Brewery of the Day!</h2>
    <br/>
      <h4>Hello,<%= @user.name %>!</h4>

      <div>
        <%= @beer.beer_name %>
        <%= @beer.beer_abv %>
        <%= @beer.beer_ibu %>
        <%= @beer.beer_description %>
      </div>

      <


    <br/>
    <p>
        Wherever life takes you, let <a href="https://ale-nomad.herokuapp.com/">Ale Nomad</a>  guide you to the best beer!
    </p>





  </body>
</html>
